<!-- main.hbs-->
{{!-- Code Citations --}}
{{!-- Date: 11/15/2022 --}}
{{!-- Referenced structure from: --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/style.css" />
    <meta charset="utf-8">
    <title>BLOCKBUSTER PART 2</title>
</head>
<body>
    <header>
        <h1>BLOCKBUSTER PART 2</h1>
    </header>

    <nav>
        <a href='/' action='/'>Customers</a> | 
        <a href='../orders' action='../orders'>Orders</a> | 
        <a href='../ordered_movies' action='../ordered_movies'>Ordered Movies</a> | 
        <a href='../movies' action='../movies'>Movies</a> | 
        <a href='../available_rentals' action='../available_rentals'>Available Rentals</a> | 
        <a href='../locations' action='../locations'>Locations</a> | 
    </nav>


    {{{body}}}

</body>
</html>